
   
<div class="card">
    <div class="card-header">
    <h3 class="card-title">Activity Content</h3>
    </div>
    <div class="card-body">
    <form>
    <div class="row">
    
    <div class="col-sm-12">
    <div class="form-group">
    <label>Title</label>
    <input class="form-control" value=" name of the activity" type="text">
    </div>
    <!-- -------------------- form -->
    
    <label for="Content">Content</label>
    <div class="card">
        <div class="card-header">
        <h3 class="card-title"></h3>
        <div class="card-options">
        <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
        <a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
        <a href="#" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
        <div class="item-action dropdown ml-2">
        <a href="javascript:void(0)" data-toggle="dropdown"><i class="fe fe-more-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
        <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fa fa-eye"></i> View Details </a>
        <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fa fa-share-alt"></i> Share </a>
        <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fa fa-cloud-download"></i> Download</a>
        <div class="dropdown-divider"></div>
        <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fa fa-copy"></i> Copy to</a>
        <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fa fa-folder"></i> Move to</a>
        <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fa fa-edit"></i> Rename</a>
        <a href="javascript:void(0)" class="dropdown-item"><i class="dropdown-icon fa fa-trash"></i> Delete</a>
        </div>
        </div>
        </div>
        </div>
        <div class="card-body">
        <div class="summernote">
        Hello there,
        <br />
        <p>The toolbar can be customized and it also supports various callbacks such as <code>oninit</code>, <code>onfocus</code>, <code>onpaste</code> and many more.</p>
        <p>Please try <b>paste some texts</b> here</p>
        </div>
    <!-- -----// -->
    
    <!-- ------------------------- youtube------------ -->
    <div class="form-group mt-4">
        <label>Youtube video</label>
        <input class="form-control" value=" youtube link video" type="text">
        </div>
    
    </div>
    
    <!-- -------------------------------------------------------------------
     -->
    <form> 
     <div class="form-group">
       
        </div>
        <input type="file" class="dropify">
        <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </div>
        <div class="col-md-6 m-t-20 ">
            <p>Gallery</p>
        <button type="button" class="btn btn-primary mb-3">Select Image</button>
        <h6>ACTIVITY POLICY</h6>
    
        </div>
        </div>
        </form>
    
    <div class="col-sm-6">
    <div class="form-group">
    <label>Activity Rating Standard</label>
    <input class="form-control" type="text">
    </div>
    </div>
    
    
    <div class="col-sm-12">
        <div class="form-group">
        <label>Policy</label>
        <input class="form-control" type="text">
        </div>
        <button type="button" class="btn btn-primary mb-3 text-right">Select Image</button>
        </div>
            
    <form action="">
        <input type="file" class="dropify">
        <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </div>
        <div class="col-md-6 m-t-20 ">
            <p>Gallery</p>
        <button type="button" class="btn btn-primary mb-3">Save Changes</button>
    </form>
</div>
</div>

    
    <!-- ----------------------------------  Pricing       -->
    
    <div >
    
        <div class="card">
            <div class="card-header">
            <h3 class="card-title" id="pricing">Checkin out / out time</h3>
            </div>
            <div class="card-body">
            <form>
           
            <div class="row">
            <div class="col-sm-6">
            <div class="form-group">
            <label>Time for check in</label>
            <input class="form-control" type="email" placeholder="Eg.12.00 AM">
            </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                <label>Time for check out</label>
                <input class="form-control" type="text"  placeholder="Eg.11.00 AM">
                </div>
                </div>
        </div>
            
            <div class="col-sm-6">
            <div class="form-group">
            <label>Duration in hours</label>
            <input class="form-control" type="text" placeholder="Eg.2">
            </div>
            </div>
            <h6 style="font-weight: bold;">PRICING</h6 s>
            <div class="col-sm-6">
            <div class="form-group">
            <label>Price</label>
            <input class="form-control" type="text" placeholder="activity price">
            </div>
            </div>
            <div class="col-sm-12 m-t-20 text-left">
            <button type="button" class="btn btn-primary"> Save Changes</button>
            </div>
            </div>
            </form>
            </div>
            </div>
    </div>
    
    
    <!-- attribute -->
    
    <div class="col-sm-12 m-t-20 text-left">
        <button type="button" class="btn btn-primary"> Save Changes</button>
        </div>
    
    
    </div>
    
    <!-- --------------------- ICAL ---------------------------------- -->
    
    <div class="col-sm-12">
        <h6 style="font-weight: bold;">ICAL</h6>
        <div class="form-group">
        <label>import url</label>
        <input class="form-control" value=" name of the activity" type="text">
        </div>
    
        <div class="col-sm-12 m-t-20 text-left">
            <button type="button" class="btn btn-primary"> Save Changes</button>
            </div>
    